* {
    box-sizing: border-box;
}
body {
    background-color: #69bdd2;
}
.about p {
    margin: 0;
    text-indent: 2rem;
    text-align: justify;
  }
@media only screen and (min-width: 769px) {
    .navbar-toggler {
        display: none !important;
    }
 }